/* ==================================
   ========= Define Variables =======
   ================================== */
/* line 18, ../scss/_grid.scss */
.grid, .be-section {
  background: white;
  margin: 0 0 1em 0; }
/* line 22, ../scss/_grid.scss */
.grid:after, .be-section:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both; }

/* line 30, ../scss/_grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 1em; }
/* line 33, ../scss/_grid.scss */
.grid [class*='col-']:last-of-type, .be-section [class*='col-']:last-of-type {
  padding-right: 0; }

/* line 37, ../scss/_grid.scss */
.col-2-3 {
  width: 66.66%; }

/* line 40, ../scss/_grid.scss */
.col-1-3 {
  width: 100%; }
@media (min-width: 40rem) {
  /* line 40, ../scss/_grid.scss */
  .col-1-3 {
    width: 33.33%; } }

/* line 46, ../scss/_grid.scss */
.col-1-2 {
  width: 50%; }

/* line 49, ../scss/_grid.scss */
.col-1-4, .homeabout .img-wrap, .main-about .more-about .img-wrap {
  width: 25%; }

/* line 52, ../scss/_grid.scss */
.col-1-8 {
  width: 12.5%; }

/* Opt-in outside padding */
/* line 57, ../scss/_grid.scss */
.grid-pad {
  padding: 1em 0 1em 1em; }
/* line 59, ../scss/_grid.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 1em; }

/* ==================================
   ====== Setup Base & Helpers ======
   ================================== */
/* line 34, ../scss/_base.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 40, ../scss/_base.scss */
html {
  height: 100%;
  max-height: 100%;
  font-size: 16px; }

/* line 46, ../scss/_base.scss */
body {
  font-size: 1em;
  line-height: 1.6;
  color: #3A4145;
  font-family: 'Droid Serif', serif;
  height: 100%;
  max-height: 100%; }

/* line 55, ../scss/_base.scss */
.container, .homeabout, .homecontent {
  padding: 1rem;
  max-width: 60rem;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }
/* line 60, ../scss/_base.scss */
.container h1, .homeabout h1, .homecontent h1 {
  line-height: 1.2;
  text-align: right; }
/* line 63, ../scss/_base.scss */
.container h1 small, .homeabout h1 small, .homecontent h1 small {
  font-size: 2rem;
  line-height: 1;
  display: block; }
@media (min-width: 40rem) {
  /* line 63, ../scss/_base.scss */
  .container h1 small, .homeabout h1 small, .homecontent h1 small {
    font-size: 0.8em; } }

/* line 74, ../scss/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 79, ../scss/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 84, ../scss/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 93, ../scss/_base.scss */
img {
  vertical-align: middle; }

/* line 97, ../scss/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 103, ../scss/_base.scss */
textarea {
  resize: vertical; }

/* line 107, ../scss/_base.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 112, ../scss/_base.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 124, ../scss/_base.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 133, ../scss/_base.scss */
.invisible {
  visibility: hidden; }

/* line 138, ../scss/_base.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

/* line 143, ../scss/_base.scss */
.clearfix:after {
  clear: both; }

/* line 147, ../scss/_base.scss */
.clearfix {
  *zoom: 1; }

/* line 151, ../scss/_base.scss */
.img-wrap {
  width: 100%; }
/* line 153, ../scss/_base.scss */
.img-wrap img {
  width: 100%;
  max-width: 100%; }

/* line 2, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif; }
/* line 7, ../scss/_typography.scss */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  color: #7f342c; }

/* line 12, ../scss/_typography.scss */
h1 {
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -2px;
  text-indent: -3px; }
@media (min-width: 40rem) {
  /* line 12, ../scss/_typography.scss */
  h1 {
    font-size: 5rem; } }

/* line 22, ../scss/_typography.scss */
h2 {
  font-size: 3rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  text-indent: -2px; }
@media (min-width: 40rem) {
  /* line 22, ../scss/_typography.scss */
  h2 {
    font-size: 3.2rem; } }

/* line 32, ../scss/_typography.scss */
h3 {
  font-size: 2.8rem; }
@media (min-width: 40rem) {
  /* line 32, ../scss/_typography.scss */
  h3 {
    font-size: 2.8rem; } }

/* line 39, ../scss/_typography.scss */
h4 {
  font-size: 2rem; }

/* line 43, ../scss/_typography.scss */
h5 {
  font-size: 1.8rem; }

/* line 47, ../scss/_typography.scss */
h6 {
  font-size: 1.5rem; }

/* line 51, ../scss/_typography.scss */
a {
  color: #557278;
  transition: color ease 0.3s; }

/* line 56, ../scss/_typography.scss */
a:focus {
  outline: thin dotted; }

/* line 60, ../scss/_typography.scss */
a:active, a:hover {
  outline: 0;
  color: #40565a; }

/* line 66, ../scss/_typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #40565a;
  text-decoration: none; }
/* line 69, ../scss/_typography.scss */
h1 a:hover, h1 a:active, h2 a:hover, h2 a:active, h3 a:hover, h3 a:active, h4 a:hover, h4 a:active, h5 a:hover, h5 a:active, h6 a:hover, h6 a:active {
  color: #2f3f42; }

/* line 75, ../scss/_typography.scss */
p, ul, ol {
  margin: 1.6em 0; }

/* line 80, ../scss/_typography.scss */
ol ol, ul ul, ul ol, ol ul {
  margin: 0.4em 0; }

/* line 84, ../scss/_typography.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #efefef;
  margin: 3.2em 0;
  padding: 0; }

/* line 93, ../scss/_typography.scss */
blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0 1.6em -1.2em;
  padding: 0 0 0 1.6em;
  border-left: #4a4a4a 0.6em solid; }

/* line 101, ../scss/_typography.scss */
blockquote p {
  margin: 0.8em 0;
  font-style: italic; }

/* line 106, ../scss/_typography.scss */
blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #ccc; }

/* line 113, ../scss/_typography.scss */
blockquote small:before {
  content: '\2014 \00A0'; }

/* line 115, ../scss/_typography.scss */
blockquote cite {
  font-weight: bold; }

/* line 119, ../scss/_typography.scss */
blockquote cite a {
  font-weight: normal; }

/* line 121, ../scss/_typography.scss */
dl {
  margin: 1.6em 0; }

/* line 125, ../scss/_typography.scss */
dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 1em; }

/* line 137, ../scss/_typography.scss */
dl dd {
  margin-left: 200px;
  margin-bottom: 1em; }

/* line 142, ../scss/_typography.scss */
mark {
  background-color: #ffc336; }

/* line 146, ../scss/_typography.scss */
code, tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre;
  border: 1px solid #E3EDF3;
  background: #F7FAFB;
  border-radius: 2px; }

/* line 156, ../scss/_typography.scss */
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  border: 1px solid #E3EDF3;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px; }

/* line 171, ../scss/_typography.scss */
pre code, tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0; }

/* line 180, ../scss/_typography.scss */
kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.9em;
  font-weight: bold;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 white inset; }

/* line 196, ../scss/_typography.scss */
table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.6em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent; }

/* line 206, ../scss/_typography.scss */
table th, table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #efefef; }

/* line 214, ../scss/_typography.scss */
table th {
  color: #000; }

/* line 221, ../scss/_typography.scss */
table caption + thead tr:first-child th, table caption + thead tr:first-child td, table colgroup + thead tr:first-child th, table colgroup + thead tr:first-child td, table thead:first-child tr:first-child th, table thead:first-child tr:first-child td {
  border-top: 0; }

/* line 225, ../scss/_typography.scss */
table tbody + tbody {
  border-top: 2px solid #efefef; }

/* line 227, ../scss/_typography.scss */
table table table {
  background-color: #fff; }

/* line 230, ../scss/_typography.scss */
table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th {
  background-color: #f6f6f6; }

/* line 236, ../scss/_typography.scss */
table.plain tbody > tr:nth-child(odd) > td, table.plain tbody > tr:nth-child(odd) > th {
  background: transparent; }

/* line 241, ../scss/_typography.scss */
.post-meta {
  display: inline-block;
  margin: 0 0 5px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #9EABB3; }

/* line 1, ../scss/_nav.scss */
.nav-toggle {
  position: fixed;
  top: 1rem;
  left: 0;
  width: 4rem;
  height: 2.7rem;
  background-color: #40565a;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 2.7rem;
  font-weight: bold;
  font-size: 1.4em;
  cursor: pointer;
  text-align: right;
  padding-right: 0.5rem; }
/* line 17, ../scss/_nav.scss */
.nav-toggle:hover {
  box-shadow: inset 0 0 8px #2f3f42; }

/* line 21, ../scss/_nav.scss */
.site-nav {
  width: 300px;
  position: fixed;
  margin-left: -300px;
  top: 0;
  bottom: 0;
  background: #333333;
  transition: 0.3s ease all;
  z-index: 1000; }
/* line 30, ../scss/_nav.scss */
.site-nav.open {
  margin-left: 0; }
/* line 33, ../scss/_nav.scss */
.site-nav .nav-off {
  display: block;
  width: 100%;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  text-align: right;
  border-bottom: 1px solid #595959;
  padding: 0.5em 1em;
  background-color: #6c2c25; }
/* line 44, ../scss/_nav.scss */
.site-nav .nav-off:hover {
  background-color: #461d18; }
/* line 48, ../scss/_nav.scss */
.site-nav ul {
  margin: 0;
  padding: 0; }
/* line 51, ../scss/_nav.scss */
.site-nav ul li a {
  color: #fff;
  display: block;
  font-family: "Open Sans", sans-serif;
  border-bottom: 1px solid #595959;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase; }
/* line 59, ../scss/_nav.scss */
.site-nav ul li a:hover {
  background-color: #4d4d4d; }
/* line 63, ../scss/_nav.scss */
.site-nav ul .flexhublink {
  background-color: #40565a; }
/* line 65, ../scss/_nav.scss */
.site-nav ul .flexhublink:hover {
  background-color: #35474b; }

/* line 1, ../scss/_homepage.scss */
.homeheader {
  background-image: url(https://lh3.googleusercontent.com/-QMgfJwEyzGs/UYlvzj7jXrI/AAAAAAAAFCI/d0xd4VgNchk/s630-fcrop64=1,28784245e79dd1dd/11%2B-%2B1);
  background-size: cover;
  background-position: center center;
  background-color: #444;
  background-repeat: no-repeat;
  color: #fff; }
/* line 8, ../scss/_homepage.scss */
.homeheader h1 {
  text-align: right;
  padding: 3rem 1rem;
  background-color: rgba(85, 114, 120, 0.3);
  transition: 0.3s ease-in-out all; }
@media (min-width: 40rem) {
  /* line 8, ../scss/_homepage.scss */
  .homeheader h1 {
    padding-right: 3rem; } }
/* line 16, ../scss/_homepage.scss */
.homeheader h1 span {
  display: block;
  color: #fff; }
/* line 20, ../scss/_homepage.scss */
.homeheader h1 small {
  font-size: 1.6rem;
  display: block;
  line-height: 1.2;
  letter-spacing: 0.07em; }

/* line 29, ../scss/_homepage.scss */
section {
  margin: 1em 0; }

/* line 35, ../scss/_homepage.scss */
.homeabout .img-wrap {
  margin-left: -999em;
  float: left;
  margin-top: 1.6em;
  border-radius: 50%;
  overflow: hidden;
  max-width: 18em; }
@media (min-width: 40rem) {
  /* line 35, ../scss/_homepage.scss */
  .homeabout .img-wrap {
    margin-left: 0; } }
@media (min-width: 60rem) {
  /* line 35, ../scss/_homepage.scss */
  .homeabout .img-wrap {
    margin-top: 0; } }
@media (min-width: 40rem) {
  /* line 50, ../scss/_homepage.scss */
  .homeabout .text-wrap {
    float: left;
    width: 75%;
    padding-left: 2em;
    max-width: 40em; } }

/* line 62, ../scss/_homepage.scss */
.homecontent .strength-list {
  padding-left: 2em;
  border-left: 1em solid #50585d; }
@media (min-width: 40rem) {
  /* line 62, ../scss/_homepage.scss */
  .homecontent .strength-list {
    border-left: 2em solid #50585d; } }

/* line 1, ../scss/_about-flash.scss */
.be-section {
  background: #557278;
  box-shadow: inset 0 1px 13px 1px #445b60;
  padding: 2em 0; }
/* line 7, ../scss/_about-flash.scss */
.be-section .what-we-do {
  color: #fff;
  padding: 0 1em; }
/* line 10, ../scss/_about-flash.scss */
.be-section .what-we-do .img-wrap {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset 0px 1px 13px 1px #000;
  background-color: #557278;
  margin-bottom: 0.5em; }
/* line 19, ../scss/_about-flash.scss */
.be-section .what-we-do .img-wrap img {
  width: 130%;
  max-width: 130%;
  opacity: 0.6; }
/* line 24, ../scss/_about-flash.scss */
.be-section .what-we-do .img-wrap.get-found img {
  margin-left: -2rem; }
/* line 28, ../scss/_about-flash.scss */
.be-section .what-we-do .title {
  text-align: center; }
/* line 31, ../scss/_about-flash.scss */
.be-section .what-we-do p {
  text-align: center; }
@media (min-width: 40rem) {
  /* line 31, ../scss/_about-flash.scss */
  .be-section .what-we-do p {
    text-align: justify; } }

/* line 2, ../scss/_recent-work.scss */
.recent-work .work-list {
  list-style: none; }
@media (min-width: 40rem) {
  /* line 2, ../scss/_recent-work.scss */
  .recent-work .work-list {
    padding-left: 2em; } }
/* line 7, ../scss/_recent-work.scss */
.recent-work .work-list li {
  overflow: hidden;
  *zoom: 1; }
/* line 12, ../scss/_recent-work.scss */
.recent-work .list-title {
  padding-bottom: 1em; }
/* line 16, ../scss/_recent-work.scss */
.recent-work .img-wrap {
  max-width: 18.75rem; }
@media (min-width: 40rem) {
  /* line 16, ../scss/_recent-work.scss */
  .recent-work .img-wrap {
    width: 25%;
    float: left; } }
@media (min-width: 40rem) {
  /* line 24, ../scss/_recent-work.scss */
  .recent-work .text-wrap {
    width: 75%;
    float: left; } }
/* line 29, ../scss/_recent-work.scss */
.recent-work .text-wrap p {
  margin-top: 0; }
/* line 33, ../scss/_recent-work.scss */
.recent-work .full-link {
  background-color: #557278;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 2.3;
  text-align: center;
  text-decoration: none;
  box-shadow: inset 0 0 10px #40565a;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase; }

/* line 1, ../scss/_footer.scss */
.site-footer {
  text-align: center;
  padding: 0.5rem 0;
  background-color: #ccc; }
/* line 5, ../scss/_footer.scss */
.site-footer p {
  margin: 0;
  line-height: 1.1; }
/* line 9, ../scss/_footer.scss */
.site-footer small {
  font-size: 0.6rem; }

/* line 2, ../scss/_about.scss */
.main-about blockquote {
  max-width: 40em; }
@media (min-width: 40rem) {
  /* line 2, ../scss/_about.scss */
  .main-about blockquote {
    margin-left: 5rem; } }
/* line 8, ../scss/_about.scss */
.main-about ul {
  margin-left: 1rem; }
@media (min-width: 40rem) {
  /* line 8, ../scss/_about.scss */
  .main-about ul {
    margin-left: 5rem; } }
/* line 13, ../scss/_about.scss */
.main-about ul p {
  max-width: 40rem; }
/* line 17, ../scss/_about.scss */
.main-about .more-about {
  overflow: hidden; }
/* line 19, ../scss/_about.scss */
.main-about .more-about .img-wrap {
  margin-left: -999em;
  float: left;
  margin-top: 1.6em;
  border-radius: 50%;
  overflow: hidden;
  max-width: 18em; }
@media (min-width: 40rem) {
  /* line 19, ../scss/_about.scss */
  .main-about .more-about .img-wrap {
    margin-left: 0; } }
@media (min-width: 60rem) {
  /* line 19, ../scss/_about.scss */
  .main-about .more-about .img-wrap {
    margin-top: 0; } }
@media (min-width: 40rem) {
  /* line 34, ../scss/_about.scss */
  .main-about .more-about .text-wrap {
    float: left;
    width: 75%;
    padding-left: 2em;
    max-width: 40em; } }
